* { font-family: sans-serif !important; }
body { margin: 0; }
td.title {
font-size: medium !important;
text-shadow: black 0px 1px 3px !important;
}

td.default a,
td.title a:link, span.comment a:link{
  color:#DFDFDF !important;
  text-shadow: black 0px 1px 3px !important;
}

.comment { color:#DFDFDF !important; }

font {
color:inherit !important;
font-family:inherit !important;
font-size:inherit !important;
text-shadow: black 0px 1px 3px !important;
}
td.title a:visited,  span.comment a:visited{
    color:#666666 !important; text-shadow: black 0px 1px 3px !important;
}

span.yclinks a,
td.default span.comhead a,
td.subtext a,
td.subtext span { color:#88AADD !important; text-shadow: black 0px 1px 3px !important; }
td.default span.comhead a,
td.subtext a { font-weight: bold; text-shadow: black 0px 1px 3px !important; }

body > center > table > tbody > tr:first-child > td{
   background-color:#666666 !important;
}

body,
body > center > table{
   background-color: #222222 !important;
   width: 99% !important;
}
}
