div.h7:nth-of-type(even) div.adn.ads, div.kv:nth-of-type(even){ background-color: #2E2E2E; }

    div.kv div.G2 { background-color: transparent !important; }



div.h7:nth-of-type(odd) div.adn.ads, div.kv:nth-of-type(odd){ background-color: #393939; }

    div.kv div.G2 { background-color: transparent !important; }





.aoP .Am > div

{

  color: #000 !important;

}

.y6

  {

    color: #EEEEE0 !important;

  }

 .yW

    {

      color: #EEEEE0 !important;

    }

    

div.vh

{

color: black !important;

}

  

.zA .yO .aqw

{

  color: white !important;

}

.vT

{

  color: black !important;

}

.ata-asE

{

  color: black !important;

}







.ao5

{

  color: black !important;

}

.sR

  {

    color: #777 !important;

  }



.aO9

{

color: #000 !important;

}



.AT {

width: 202px;

height: 26px;

position: absolute;

top: 0;

border: 1px solid #777 !important;

background-color: #333 !important;

margin-top: 7px;

margin-bottom: 7px;

margin-right: 8px;

padding: 0 8px 1px 8px;

font-size: 80%;

}



.GS {

background-color: #393939;

}



.n1tfz {

background-color: #393939;  

}

  

.adx {

background-color: #EEE !important;

border-radius: 3px;

color: #2d2d2d !important;

}



.adn {

color: #CCCCCC !important;  

}



.amn {

color: #CCCCCC !important;

  background-color: #888 !important; 

}



.ha {

font-family: arial,sans-serif !important;

font-size: 100% !important;

color: #777 !important;

}



table.IG td.HQ {

  	background-color: #404040;

    color: #CCCCCC;

}



table.IG td.Iy {

	background-color: #404040; 

}



textarea.v0 {

background-color: #404040;

color: #CCC;  

}



td.GQ {

background-color: #404040;

      color: #CCC;

}



div.aoD {

background-color: #404040;

  color: #CCC

}



input.aoT {

 background-color: #404040;

  color: #CCC;

}



.g6 {

color: #888 !important;

padding-left: 0 !important;

}



.kQ .Bk .G2 {

background-color: #2E2E2E !important;

}



.hx .gH {

color: #777 !important;

}



.gD {

  color: #FFF !important;

  }



.hx {

color: #888 !important;

}



.anQ {

color: #FFF !important;

}



.ej .eh .dW {

background: #333 !important;

}

      

.mC .mD {

border: 1px solid #bcbcbc;

border-bottom: none;

background: #777 !important;

}

      

.ej .fN {

padding-left: 12px;

padding-right: 12px;

padding-bottom: 12px;

background: #333 !important; 

}



.nr, .dI, .Ar, .p0 {

  background: #404040  !important;

    }



.mE .mG, .hx .h7 .mG 

{

color: #FFF !important;

}



.ej .aay .dW {

background: #333 !important;

}



.w-asV

{

  background: #2d2d2d !important;

border-color: #2d2d2d !important;

}





.gbes {

background: #2d2d2d !important;

border-color: #2d2d2d !important;

}



.aeF

{ 

  background: #2d2d2d !important;

}



.yO {

background: rgba(10, 10, 10, .85) !important;

color: #aaa !important;

}



.gbthc

{

background: rgb(15, 15, 15) !important;

border-color:  rgb(15, 15, 15) !important;

}



#gbq

{

  background: rgb(15, 15, 15) !important;

}



#gbx1

{

background: rgb(15, 15, 15) !important;

border-color: #777 !important;

}



.aeN {

background: rgb(15, 15, 15) !important;



}



.TO .n0 {

color: #EEEEE0!important;



}



.TO:hover

{

background: #777 !important;

}



.nH

{

border-color: #000 !important;

background: rgb(15, 15, 15) !important; 



}



.CJ

{

color: #EEEEE0 !important;

}



.akh

{

color: #EEEEE0 !important;



}





.J-M

{

background:  rgb(15, 15, 15) !important;

border-color: #777 !important;



}

.J-N

{

color: #EEEEE0 !important;

  border-color: #777 !important;

}



.J-N:hover

{

background: #777 !important;



}



.gbqldr

{

  content:url("https://ssl.gstatic.com/ui/v1/icons/mail/logo_white.png") !important;

}





.TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7 {

background-color: transparent;

background-image: linear-gradient(top,rgba(68,68,68,.75),rgba(60,60,60,.75)) !important;

background-image: -moz-linear-gradient(top,rgba(68,68,68,.75),rgba(60,60,60,.75)) !important;

background-image: -o-linear-gradient(top,rgba(68,68,68,.75),rgba(60,60,60,.75)) !important;

background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(68,68,68,.75)),to(rgba(60,60,60,.75))) !important;

background-image: -webkit-linear-gradient(top,rgba(68,68,68,.75),rgba(60,60,60,.75)) !important;

background-image: -ms-linear-gradient(top,rgba(68,68,68,.75),rgba(60,60,60,.75)) !important;

}



.T-I-KE {

background-color: #f5f5f5 !important;

background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1) !important;

background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1) !important;

background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1) !important;

background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1) !important;

background-image: linear-gradient(top,#f5f5f5,#f1f1f1) !important;

color: #444 !important;

border: 1px solid #dcdcdc !important;

border: 1px solid rgba(0,0,0,0.1) !important;

}



.aos {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -78px !important;

height: 21px !important;

width: 21px !important;

}



.l2 .ov

{

	background-color: #EEEEE0 !important;

}



.l9

{

  color: #EEEEE0 !important;

}



.aeJ {

background:  rgb(15, 15, 15) !important; 

border-color: #777 !important;

}



.md, .ma, .ae3

{

  color: #EEEEE0 !important;

}



.dt

{

  color: #EEEEE0 !important;

}





.v .f1 {

background:  rgb(15, 15, 15) !important;

font-size: 80% !important;

color: #EEEEE0 !important;

  border-color: #777 !important;

}



.a0

{

 	background:  rgb(15, 15, 15) !important;

  border-color: #777 !important;

}



.TI .T-I-ax7, .z0 .T-I-ax7, .G-atb .T-I-ax7 {

color: #EEEEE0 !important;

}



.asf {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -144px  !important;

}



.G-asx {

margin-top: -3px;

background: url(https://ssl.gstatic.com/ui/v1/zippy/arrow_down_white.png) no-repeat 0 1px  !important;

}



.amJ {

background: url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_white2.png) -42px -21px no-repeat  !important;

}



.amI {

background: url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_white2.png) -21px -21px no-repeat  !important;

}



.asb {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -100px  !important;

}



.ase {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -293px !important;

}



.ar9 {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -17px !important;

}



.asl {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -232px !important;

}



.ar8 {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -210px !important;

}



.ar6 {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -337px !important;

height: 21px;

padding-right: 2px;

width: 20px;

}



.adj {

background: url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_white2.png) -21px -21px no-repeat !important;

}



.adk {

background: url(https://ssl.gstatic.com/ui/v1/icons/mail/sprite_white2.png) -42px -21px no-repeat !important;

}



.J-KU .aj2 {

background: no-repeat url(https://ssl.gstatic.com/mail/sprites/general_white-dd7c9d12a23a13acc0939da929188830.png) 0 -254px !important;

width: 21px;

height: 21px;

}



.kv .Bk .G2, .kQ .Bk .G2 {



  border-color: #777 !important;

}





  

.xY {

border-bottom: 1px #777 solid !important;

  }



  .UJ {

border-top: 0px #777 solid  !important;

}

  

  .G-atb, .G-as7-atb, .G-MI {

margin-top: 9px;

padding-bottom: 14px;

border-color: #777 !important;

}





.fN {

background: #2E2E2E !important;

width: inherit;

  border-color: #777 !important;

}





  

.x .d2 {

color:#EEEEE0 !important;

}

  

.b2 {

color: #EEEEE0 !important;

}





.zE {

color: #FFF !important;

background: #333333 !important;

}





.J-J5-Ji span {

color: #EEEEE0 !important;

}



.ade

{

  background: #2E2E2E !important;

}



.cV, .c0

{

  background: #888 !important;



}





.cZ, .cU

{

  color: #EEEEE0 !important;

}



.im

{

  color: #888 !important;

}



.rc {

font-weight: bold !important;

color: #EEEEE0!important;

}



td.r9 {

border: none !important;

border-bottom: 1px solid #e5e5e5 !important;

padding: 8px !important;

color: #777 !important;

}



.ra

{

color: #777 !important;

}



.yV {



color: #EEEEE0!important;

}



.CZ

{

color: #EEEEE0 !important;

}



.qV, .q7, .rH {



color: #777 !important;

}



.tg

{

color: #FFF !important;

}



.s0

{

color: #EEEEE0 !important;

}



.rj

{

color: #FFF !important;

}



.rg

{

color: #EEEEE0 !important;

}



.alU, .alV

{

color: #777 !important;

}



.Us

{

color: #EEEEE0 !important;

}



.rm, .re

{

color: #777 !important;

}



.rS

{

color: #FFF !important;

}



.su, .al9

{

color: #777!important;

}



.amc

{

color: #EEEEE0 !important;

}



.sj, .sh, .si

{

background: rgb(15, 15, 15) !important

}



.alO 

{

background: rgb(15, 15, 15) !important;

}





.alL

{

color: #FFF!important;

}



.al6, .alC, .alD {

color: #EEEEE0 !important;

}



.alR {

color: #EEEEE0 !important;

}



.alP, .alS {

color: #777 !important;

}



.azf, .al6, .alC, .alD {

color: #777 !important;

}



.q9

{

  color: #777 !important;

}





.ii a:link

{

  color: #FF0000!important;

}



.ii a:visited

{

  color: #CD0000 !important;

}



.d2

{

  color: #777 !important;

}





.ii span

{

  color: #CCCCCC !important;

}





.J-awr

{

  color: #EEEEE0 !important;

}







.aoa 

{

color: #777 !important;

}



#link_undo

{

  color: #FF0000 !important;

}





.dT, .dO

{

color: #777 !important;



}



.vh span

{

color: #000 !important;

}





.aaf

{

color: #777 !important;

}



.aai

{

color: #FF0000 !important;

}





.vC

{

color: #EEEEE0 !important;

}



.vC:hover

{

  background: #CCCCCC !important;

}



.msgb

{

  background: black !important;

  color: #EEEEE0 !important;

}



.msg

{

  color: #EEEEE0 !important;

}



#loading

{

  background: #000000 !important;

}



/* new compose */



.vI

{

 color: black !important;

}



.T-I-atl {



color: #EEEEE0 !important;

}



.aC2, .aC3

{

background: rgb(15, 15, 15) !important;

}



td.hU.hM

{

  background: #2E2E2E !important;

  color: #888 !important;

}



td.hU.hM.bH

{

  background: #888 !important;

  color: #EEEEE0 !important;

}



td.hV.hM

{

  background: #2E2E2E !important;



}



td.hV.hM

{

color: yellow !important;

}





td.hV.hM.bH

{

   background: #888 !important;

}



span.hO

{

  color: #888 !important;

}



span.hO:hover

{

  color: #EEEEE0 !important;

}



a.J-Ke.n0

{

  color: #FFF !important;

}



.aoC .fX

{

  background: #404040 !important;

}



.gQ

{

  color: #777 !important;

}



.az9

{

  color: #CCC !important;

}



.aoP .Am > div

{

  color: #000 !important;

}

.y6

  {

    color: #EEEEE0 !important;

  }

 .yW

    {

      color: #EEEEE0 !important;

    }

    

div.vh

{

color: black !important;

}

  

.zA .yO .aqw

{

  color: white !important;

}

.vT

{

  color: black !important;

}

.ata-asE

{

  color: black !important;

}





.ao5

{

  color: black !important;

}

.sR

  {

    color: #777 !important;

  }



.Am

{

  color: black !important;

}





.cu, .cv

{

  background: #393939 !important;

}





.NE

{

  color: black !important;

}



.ad3

{

  color: #EEEEE0 !important;

}



.jJ

{

  background: #393939 !important;

}



div.gstq_d.gstq_a.gsfs

{

color: black !important;

}



.Hv > td

{

  color: yellow !important;

}





.aKw

{

  background: rgb(15,15,15) !important;

  margin-right: 0px !important;

}



.aKm

{

  background: rgb(15,15,15) !important;

}



.aKp 

{

background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/tabs/tabicons_white.png) !important;

    background: rgb(15,15,15);

}



.J-KU-Jg-K9.aAA .aAy {

background: rgba(15,15,15, 0.85) !important;

padding: 0;

}



 .aKj

{

  background: #393939 !important;

  border-color: #393939 !important;

}



.J-KU-Jg-K9.aAA .aAy {



border-color: #393939 !important;

}



.aKi

{

  border-color: #393939 !important;

}



div.aKz

{

    color: #EEEEE0 !important;

}



.iY .Bu 

{

background: rgb(15,15,15) !important;

  

}



.aAy.J-KU-JW.aAy.aIf-aLe .aKo, .aAy.J-KU-KO.aAy.aIf-aLe .aKo

{

  background: red !important;

}



.aKo

{

  top: 0px !important;

}

}



@-moz-document domain("googleusercontent.com") {

.thumbnails {



  background: #888 !important;

}



.moviePlayer {

  background: #888 !important;

  }

  

  .movieTitle {

  background: #888 !important;

      color: #EEEEE0 !important;

    }

}



@-moz-document domain("talkgadget.google.com") {

.Pi.n2MuXd .cKpVIe:hover 

{

  background: #777 !important;

}

   

.Pi .cKpVIe .KKnxSe {

color: #EEEEE0 !important;

}







.de

{

  background: #393939 !important;

}





div

{

  color: #888 !important;

}

}
